body {
  min-width: 600px;
  max-width: 100%;
  position: relative;
  vertical-align:middle;
  background-color: #f2edd7;
}
h2{
  text-align: center;
  color: red;
}
img:hover{
  opacity: 50%;
}
button{
  border-radius: 10%;
}
button:hover{
  opacity: 50%;
}
